<div class="card shadow-sm">
  <div class="card-header">
    <h4 class="my-0 font-weight-normal">
      Item
    </h4>
  </div>
  <div class="card-body">
    <%= form.input(:name, placeholder: "Something") %>

    <%= form.ng_select(
      "category.id",
      options: 'gnc.categories',
      reference_key: :id,
      text_field: :name
    ) %>

    <div class="form-group row">
      <div class="offset-2 col-10">
        <%= form.only(:form) do
          form.button(
            ng_click: 'gnc.save()',
            ng_disabled: 'gnc.ongoing',
            classes: 'btn-primary',
            text: 'Save'
          )
        end %>
        <%= form.only(:display) do
          form.button(
            classes: 'btn-primary',
            href: angular_path_to(
              :edit_move_item,
              { id: "{{gnc.data.id}}", move_id: "{{gnc.data.move_id}}" }
            ),
            text: 'Edit'
          )
        end %>
      </div>
    </div>
  </div>
</div>
