<div class="card-deck mb-3">
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">
        Items
      </h4>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
        </thead>
        <tbody>
          <tr>
            <td colspan="2">
              <%= angular_safe_link_to(
                :new_move_item, {
                  move_id: "{{gnc.route.move_id}}"
                }, class: "text-dark"
              ) do %>
              + New Item
              <% end %>
            </td>
          </tr>
          <tr ng-repeat="item in gnc.data">
            <td>
              <%= angular_safe_link_to(
                :move_item, 
                { id: "{{item.id}}", move_id: "{{item.move_id}}" }, 
                class: "text-dark"
              ) do %>
                {{item.id}}
              <% end %>
            </td>
            <td>{{item.name}}</td>
            <td>
              <%= angular_safe_link_to(
                :edit_move_item,
                { id: "{{item.id}}", move_id: "{{item.move_id}}" }, 
                class: "text-dark"
              ) do %>
                edit
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>

      <%= magicka_display('gnc') do |display|
              display.pagination('pagination',
              path_method: :move_items
              )
              end %>

    </div>
  </div>
</div>
